<a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
   data-toggle="collapse" href="#navbar-vertical"
   style="height: 65px; margin-top: -1px; padding: 0 30px;">
    <h6 class="m-0">Categories</h6>
    <i class="fa fa-angle-down text-dark"></i>
</a>
<nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
     id="navbar-vertical">
    {{ render(controller(
        'App\\Controller\\CategoriesController::list', {max: 3}
    )) }}
</nav>