<!-- Navbar Start -->
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
        </div>
        <div class="col-lg-9">
            {% include 'partials/navbar_top/_navigation_list.html.twig' %}
        </div>
    </div>
</div>
<!-- Navbar End -->