<h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
</p>

<p>
    Or, You can use this code: <br />
    {{ verificationCode|raw }}<br/>
    on <a href="{{ confirmationUrl|raw }}">Confirmation page</a>.

</p>
