{% extends 'base.html.twig' %}

{% block title %}OAuth2 Server{% endblock %}

{% block body %}
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">{{ block('title') }}</h1>
            <div class="d-inline-flex mt-5">
                <p class="fs-5">
                    Authorization based on
                    <a href="https://github.com/thephpleague/oauth2-server"
                       target="_blank">thephpleague/oauth2-server</a>
                    <br/><br/></p>
            </div>
        </div>
    </div>
    <div class="example-wrapper">
        <div class="container">
            <div class="row mt-5 align-items-center justify-content-center">
                <div class="col-md-6 col-auto col-sm-4 col-xs-6">
                    <div class="w3-container">
                        <p><strong>Test Client App</strong> would like to access the following information about you:
                        </p>
                        <ul>
                            <li>Your cart</li>
                            <li>Your profile</li>
                            <li>Your email address</li>
                        </ul>
                        <p>To allow this access, click the button below.</p>
                    </div>
                    <form
                        action="/oauth/consent?response_type=code&amp;client_id=testclient&amp;redirect_uri=https://interview.local/callback&amp;scope=profile%20email"
                        method="post" class="w3-container">
                        <p>
                            <button class="btn btn-primary" tabindex="1"
                                    type="submit" name="consent" value="yes">Allow
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
