<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
               data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Features</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav
                class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light"
                id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                <div class="navbar-nav w-100 overflow-hidden" style="height: 210px">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">GRPC <i
                                class="fa fa-angle-down float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                            <a href="{{ path('grpc_index') }}" class="dropdown-item">Index page</a>
                            <a href="{{ path('grpc_sign_up') }}" class="dropdown-item">1. Create user</a>
                            <a href="{{ path('grpc_user_confirm') }}" class="dropdown-item">2. Verify User</a>
                            <a href="{{ path('grpc_sign_in') }}" class="dropdown-item">3. Sign In</a>
                            <a href="{{ path('grpc_user_details') }}" class="dropdown-item">3. Get User Data</a>
                        </div>
                    </div>
                    <a href="{{ path('oauth_token_index') }}" class="nav-item nav-link">OAuth2</a>
                    <a href="{{ path('app.swagger_ui') }}" class="nav-item nav-link">Swager</a>
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="{{ path("app_index") }}" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">
                        <span class="text-primary font-weight-bold border px-3 mr-1">RS</span>Shop
                    </h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse" style="height: 65px;">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="{{ path("app_index") }}" class="nav-item nav-link active">Home</a>
                        <a href="{{ path("products_index") }}" class="nav-item nav-link">Shop</a>
                        <a href="{{ path("subscriptions_index") }}" class="nav-item nav-link">Subscriptions</a>
                    </div>
                    <div class="navbar-nav ml-auto py-0">
                        {% if not app.user %}
                            <a href="{{ path('login_index') }}" class="nav-item nav-link">Login</a>
                            <a href="{{ path('register_index') }}" class="nav-item nav-link">Register</a>
                        {% else %}
                            <a href="{{ path('user_orders') }}" class="btn" style="padding:0 5px 0 0;">
                                <i class="fas fa-user text-primary m-1" style="font-size: 22px"></i>
                                <p class="subscription-status text-primary" style="font-size: 12px; margin:0;">
                                    Profile
                                </p>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->
