{% extends 'logged.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center" id="order-heading">
        <div class="text-uppercase">
            <p>Order detail</p>
        </div>
        <div class="h4">{{ order.createdAt|date("Y-m-d") }}</div>
        <div class="pt-1">
            <p>Order #{{ order.id }} is currently<b class="text-dark"> {{ order.status }}</b></p>
        </div>
    </div>
    <div class="wrapper bg-white">
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                <tr class="text-uppercase text-muted">
                    <th scope="col">product</th>
                    <th scope="col" class="text-right">total</th>
                </tr>
                </thead>
                <tbody>
                {% for item in order.items %}
                    <tr>
                        <th scope="row">{{ item.getDisplayName }}</th>
                        <td class="text-right"><b>{{ item.getUnitPrice(true)|format_currency("USD") }}</b></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pt-2 border-bottom mb-3"></div>
        <div class="d-flex justify-content-start align-items-center pl-3">
            <div class="text-muted">Payment Method</div>
            <div class="ml-auto">
                <img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png" alt=""
                     width="30" height="30">
                <label>Online {{ order.getLastPayment().getStatus() }}</label>
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center py-1 pl-3 mx-1">
            <div class="text-muted">Shipping&nbsp;</div>
            <div class="ml-2">
                <label>Free</label>
            </div>
        </div>
        {# That will be usefull for vouchers feature #}
        {#        <div class="d-flex justify-content-start align-items-center pb-4 pl-3 border-bottom"> #}
        {#            <div class="text-muted"> #}
        {#                <button class="text-white btn">50% Discount</button> #}
        {#            </div> #}
        {#            <div class="ml-auto price"> #}
        {#                -$34.94 #}
        {#            </div> #}
        {#        </div> #}
        <div class="d-flex justify-content-start align-items-center pl-3 py-3 mb-4 border-bottom">
            <div class="text-muted">
                Today's Total&nbsp;
            </div>
            <div class="ml-auto h5">
                {{ order.getAmount(true)|format_currency("USD") }}
            </div>
        </div>
        <div class="row border rounded p-1 my-3">
            <div class="col-md-6 py-3">
                <div class="d-flex flex-column align-items start">
                    <b>Billing Address</b>
                    <p class="text-justify pt-2">{{ order.address.firstName }} {{ order.address.lastName }},
                        {{ order.address.addressLine1 }} {{ order.address.addressLine2 }}</p>
                    <p class="text-justify">{{ order.address.city }} {{ order.address.postalCode }} {{ order.address.state }}</p>
                </div>
            </div>
            <div class="col-md-6 py-3">
                <div class="d-flex flex-column align-items start">
                    <b>Shipping Address</b>
                    <p class="text-justify pt-2">{{ order.address.firstName }} {{ order.address.lastName }},
                        {{ order.address.addressLine1 }} {{ order.address.addressLine2 }}</p>
                    <p class="text-justify">{{ order.address.city }} {{ order.address.postalCode }} {{ order.address.state }}</p>
                </div>
            </div>
        </div>
        {# Invoices details get here #}
        {#        <div class="pl-3 font-weight-bold">Related Invoices (Implementation in progress)</div> #}
        {#        <div class="d-sm-flex justify-content-between rounded my-3 subscriptions"> #}
        {#            <div> #}
        {#                <b>#ID</b> #}
        {#            </div> #}
        {#            <div>createdAt</div> #}
        {#            <div>Status</div> #}
        {#            <div> #}
        {#                Total: <b> $USD for ? items</b> #}
        {#            </div> #}
        {#        </div> #}
    </div>
{% endblock %}