<div class="container-fluid">
    <div class="col-12">
        <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
        {{ form_start(form, {'attr': {'class': 'row'}}) }}
        <div class="col-6 form-group">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col-6 form-group">
            {{ form_row(form.lastName) }}
        </div>
        <div class="col-md-6 form-group">
            {{ form_row(form.phoneNo) }}
        </div>
        <div class="col-md-6 form-group">
            {{ form_row(form.addressLine1) }}
        </div>
        <div class="col-md-6 form-group">
            {{ form_row(form.addressLine2) }}
        </div>
        <div class="col-md-6 form-group">
            {{ form_row(form.country) }}
        </div>
        <div class="col-md-6 form-group">
            {{ form_row(form.city) }}
        </div>
        <div class="col-md-6 form-group">
            {{ form_row(form.state) }}
        </div>
        <div class="col-md-6 form-group">
            {{ form_row(form.postalCode) }}
        </div>
        <div class="col-md-12 form-group">
            {{ form_row(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
