{% extends 'email_base.html.twig' %}
{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="text-left logo p-2 px-5">
                    </div>
                    <div class="invoice p-5">
                        <h5>Your order is Confirmed!</h5>
                        <span class="font-weight-bold d-block mt-4">Hello, {{ app.user.email }}</span>
                        <span>You order has been confirmed and will be shipped soon!</span>
                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2 text-nowrap">
                                            <span class="d-block text-muted pb-3">Order Date</span>
                                            <span>{{ order.createdAt|date("Y-m-d") }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2 text-nowrap">
                                            <span class="d-block text-muted pb-3">Order No</span>
                                            <span>{{ order.id }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted pb-3">Payment</span>
                                            <span>{{ order.lastPayment.operationType.value }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2 text-right">
                                            <span class="d-block text-muted pb-3">Shipping Address</span>
                                            <span>{{ order.deliveryAddress.firstName }} {{ order.deliveryAddress.lastName }},<br/>
                        {{ order.deliveryAddress.addressLine1 }} {{ order.deliveryAddress.addressLine2 }}<br/>
                                            {{ order.deliveryAddress.city }} {{ order.deliveryAddress.postalCode }} {{ order.deliveryAddress.state }}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="product border-bottom table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                {% for item in order.items %}
                                    <tr>
                                        <td width="60%">
                                            <span class="font-weight-bold">{{ item.name }}</span>
                                            <div class="product-qty">
                                                <span class="d-block">Quantity: {{ item.quantity }}</span>
                                            </div>
                                        </td>
                                        <td width="20%">
                                            <div class="product-qty text-right">
                                                <span class="text-right">
                                                    {{ (item.price / 100)|format_currency("USD") }}
                                                </span>
                                                <span class="d-block font-weight-bold">
                                                    {{ ((item.quantity * item.price) / 100)|format_currency("USD") }}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row d-flex justify-content-end">
                            <div class="col-md-5">
                                <table class="table table-borderless">
                                    <tbody class="totals">
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="text-muted">Subtotal</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span>{{ (summary.subTotal / 100)|format_currency("USD") }}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="text-muted">Shipping Fee</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span>{{ (summary.shipping / 100)|format_currency("USD") }}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left">
                                                <span class="font-weight-bold">Total</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span
                                                    class="font-weight-bold">{{ (summary.total / 100)|format_currency("USD") }}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                        <span>Interview app team</span>
                    </div>
                    <div class="d-flex justify-content-between footer p-3">
                        <span>Need Help? you can submit  <a
                                href="https://github.com/RafalSalwa/interview-client-php/issues"> issue on github</a></span>
                        <span>{{ order.createdAt|date("Y-M-d") }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
